# Pandas Note :)

Pandas is a Python library used for working with data sets.It has functions for analyzing, cleaning, exploring, and manipulating data.

###  Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.

In [11]:
import pandas as pd

In [12]:
print(pd.__version__)

1.1.1

## What is a Series?

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [13]:
#Create a simple Pandas Series from a list:
series = [1,9,7,6]
#print(series)
newseries = pd.Series(series)
# print(newseries[0]) - value of 0 index
print(newseries)

0    1
1    9
2    7
3    6
dtype: int64

In [14]:
#Create you own label 
value = [1,4,5,8]
series = pd.Series(value, index=['X','Y','Z','0'])
print(series)

X    1
Y    4
Z    5
0    8
dtype: int64

In [15]:
#When you have created labels, you can access an item by referring to the label.
#Return the value of "y":
print(series['0'])

8

## Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [21]:
#Create a simple Pandas Series from a dictionary:
students = {1:"Sakib", 2:"Tamim", 3:"Mushfiq"}
series = pd.Series(students)
#print(series)  
# print(series[1])
for x in series:
    print(x)

Sakib
Tamim
Mushfiq

### Note: The keys of the dictionary become the labels.

In [23]:
#Create a Series using only data from "day1" and "day2":
students = {1:"Sakib", 2:"Tamim", 3:"Mushfiq"}
stdinfo = pd.Series(students, index=[1,2])
print(stdinfo)

1    Sakib
2    Tamim
dtype: object

## What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [66]:
#Create a simple Pandas Dateframe 
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
#load data into a DataFrame object 
df = pd.DataFrame(student)
print(df)

      Name Department
0     Asik        CSE
1  Mustofa        EEE
2    Sofiq        ECE

## Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the loc attribute to return one or more specified row(s)

In [33]:
print(df.loc[0])
print("Name of the Second row: " + df.loc[1][0])

Name          Asik
Department     CSE
Name: 0, dtype: object
Name of the Second row: Mustofa

In [82]:
#use a list of indexes:
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
df = pd.DataFrame(student)
print(df.loc[[1,2]])

      Name Department
1  Mustofa        EEE
2    Sofiq        ECE

In [84]:
#Add a list of names to give each row a name:
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
df = pd.DataFrame(student, index=[100, 200, 300])
print(df)

        Name Department
100     Asik        CSE
200  Mustofa        EEE
300    Sofiq        ECE

In [86]:
#refer to the named index:
print(df.loc[100])

Name          Asik
Department     CSE
Name: 100, dtype: object

# Pandas Read CSV
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

Use : read_csv('path')

In [100]:
df = pd.read_csv('housing.csv')
print(df)
# print(df.to_string())  Print the entire DataFrame

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0     0.02731   0.00   7.070  0  0.4690  6.4210  78...
1     0.02729   0.00   7.070  0  0.4690  7.1850  61...
2     0.03237   0.00   2.180  0  0.4580  6.9980  45...
3     0.06905   0.00   2.180  0  0.4580  7.1470  54...
4     0.02985   0.00   2.180  0  0.4580  6.4300  58...
..                                                 ...
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[505 rows x 1 columns]

### Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.
The head() method returns the headers and a specified number of rows, starting from the top.

In [101]:
#Get a quick overview by printing the first 10 rows of the DataFrame:
print(df.head(10))

# print(df.head()) Note : if the number of rows is not specified, the head() method will return the top 5 rows.

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...
5   0.08829  12.50   7.870  0  0.5240  6.0120  66...
6   0.14455  12.50   7.870  0  0.5240  6.1720  96...
7   0.21124  12.50   7.870  0  0.5240  5.6310 100...
8   0.17004  12.50   7.870  0  0.5240  6.0040  85...
9   0.22489  12.50   7.870  0  0.5240  6.3770  94...

## tail()
There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [102]:
print(df.tail())   
# You can pass parameter also line ->  tail(100) that returns last 100 values

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

# Info About the Data
The DataFrames object has a method called info(), that gives you more information about the data set.

In [104]:
#Print information about the data:
df = pd.read_csv('data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.3 KB
None

In [105]:
#df.describe() | Summary statistics for numerical columns
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

# Exporting Data
#### df.to_csv(filename) | Write to a CSV file
#### df.to_excel(filename) | Write to an Excel file
#### df.to_sql(table_name, connection_object) | Write to a SQL table
#### df.to_json(filename) | Write to a file in JSON format

# Reference 
1. https://www.dataquest.io
2. https://www.w3schools.com/python/pandas
3. https://www.geeksforgeeks.org/pandas-tutorial/
4. https://jupyterlab.readthedocs.io/en/stable/user/interface.html