# Pandas Note :)

Pandas is a Python library used for working with data sets.It has functions for analyzing, cleaning, exploring, and manipulating data.

###  Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.2.4

## What is a Series?

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
#Create a simple Pandas Series from a list:
series = [1,9,7,6]
#print(series)
newseries = pd.Series(series)
# print(newseries[0]) - value of 0 index
print(newseries)

0    1
1    9
2    7
3    6
dtype: int64

In [4]:
#Create you own label 
value = [1,4,5,8]
series = pd.Series(value, index=['X','Y','Z','0'])
print(series)

X    1
Y    4
Z    5
0    8
dtype: int64

In [5]:
#When you have created labels, you can access an item by referring to the label.
#Return the value of "y":
print(series['0'])

8

## Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [6]:
#Create a simple Pandas Series from a dictionary:
students = {1:"Sakib", 2:"Tamim", 3:"Mushfiq"}
series = pd.Series(students)
#print(series)  
# print(series[1])
for x in series:
    print(x)

Sakib
Tamim
Mushfiq

### Note: The keys of the dictionary become the labels.

In [7]:
#Create a Series using only data from "day1" and "day2":
students = {1:"Sakib", 2:"Tamim", 3:"Mushfiq"}
stdinfo = pd.Series(students, index=[1,2])
print(stdinfo)

1    Sakib
2    Tamim
dtype: object

## What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [8]:
#Create a simple Pandas Dateframe 
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
#load data into a DataFrame object 
df = pd.DataFrame(student)
print(df)

      Name Department
0     Asik        CSE
1  Mustofa        EEE
2    Sofiq        ECE

## Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.
Pandas use the loc attribute to return one or more specified row(s)

In [9]:
print(df.loc[0])
print("Name of the Second row: " + df.loc[1][0])

Name          Asik
Department     CSE
Name: 0, dtype: object
Name of the Second row: Mustofa

In [10]:
#use a list of indexes:
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
df = pd.DataFrame(student)
print(df.loc[[1,2]])

      Name Department
1  Mustofa        EEE
2    Sofiq        ECE

In [11]:
#Add a list of names to give each row a name:
student = {
    "Name" : ["Asik","Mustofa","Sofiq"],
    "Department" : ["CSE","EEE","ECE"]
}
df = pd.DataFrame(student, index=[100, 200, 300])
print(df)

        Name Department
100     Asik        CSE
200  Mustofa        EEE
300    Sofiq        ECE

In [12]:
#refer to the named index:
print(df.loc[100])

Name          Asik
Department     CSE
Name: 100, dtype: object

# Pandas Read CSV
A simple way to store big data sets is to use CSV files (comma separated files).
CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

Use : read_csv('path')

In [13]:
df = pd.read_csv('housing.csv')
print(df)
# print(df.to_string())  Print the entire DataFrame

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0     0.02731   0.00   7.070  0  0.4690  6.4210  78...
1     0.02729   0.00   7.070  0  0.4690  7.1850  61...
2     0.03237   0.00   2.180  0  0.4580  6.9980  45...
3     0.06905   0.00   2.180  0  0.4580  7.1470  54...
4     0.02985   0.00   2.180  0  0.4580  6.4300  58...
..                                                 ...
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[505 rows x 1 columns]

### Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.
The head() method returns the headers and a specified number of rows, starting from the top.

In [14]:
#Get a quick overview by printing the first 10 rows of the DataFrame:
print(df.head(10))

# print(df.head()) Note : if the number of rows is not specified, the head() method will return the top 5 rows.

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...
5   0.08829  12.50   7.870  0  0.5240  6.0120  66...
6   0.14455  12.50   7.870  0  0.5240  6.1720  96...
7   0.21124  12.50   7.870  0  0.5240  5.6310 100...
8   0.17004  12.50   7.870  0  0.5240  6.0040  85...
9   0.22489  12.50   7.870  0  0.5240  6.3770  94...

## tail()
There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [15]:
print(df.tail())   
# You can pass parameter also line ->  tail(100) that returns last 100 values

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

# Info About the Data
The DataFrames object has a method called info(), that gives you more information about the data set.

In [16]:
#Print information about the data:
df = pd.read_csv('data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [17]:
#df.describe() | Summary statistics for numerical columns
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

# Exporting Data
#### df.to_csv(filename) | Write to a CSV file
#### df.to_excel(filename) | Write to an Excel file
#### df.to_sql(table_name, connection_object) | Write to a SQL table
#### df.to_json(filename) | Write to a file in JSON format

In [18]:
 df.to_csv('new.csv')  # Check Directory

# Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

####  1.  Empty cells
####  2. Data in wrong format
####  3. Wrong data
####  4. Duplicates

In [19]:
df = pd.read_csv('data.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

###  Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
If you want to change the original DataFrame, use the inplace = True argument:

In [20]:
#Remove all rows with NULL values:
 
# df.dropna(inplace = True)
# print(df.to_string())

## Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [21]:
#print(df.to_string()) # check is there any Nan value 
# Replace NULL values with the number 130:
# df.fillna(100, inplace = True)
#print(df.to_string())

## Replace Only For a Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:
#### Replace NULL values in the "Calories" columns with the number 130:

In [22]:
df["Calories"].fillna(1000, inplace = True)
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112    1000.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132    1000.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137    1000.0
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125    1000.0
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127    1000.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

## Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
### Pandas uses the 
### mean() , median() and mode() methods to calculate the respective values for a specified column:

In [24]:
# Calculate the MEAN, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].mean()
print(x)
df["Calories"].fillna(x, inplace = True)

375.79024390243916

### Mean = the average value (the sum of all values divided by number of values).

In [28]:
# Calculate the MEDIAN, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].median()
print(x)
df["Calories"].fillna(x, inplace = True)
df['Calories']

318.6

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

## Median = the value in the middle, after you have sorted all values ascending.

In [29]:
#Calculate the MODE, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].mode()[0]
df["Calories"].fillna(x, inplace = True)

# Pandas - Cleaning Data of Wrong Format
Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.
To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

## Convert Into a Correct Format
In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date:

### Pandas has a to_datetime() method for this:

In [36]:
#Convert to date:

import pandas as pd
df = pd.read_csv('data.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories       Date
0          60    110       130     409.1 2020-12-01
1          60    117       145     479.0 2020-12-02
2          60    103       135     340.0 2020-12-03
3          45    109       175     282.4 2020-12-04
4          45    117       148     406.0 2020-12-05
5          60    102       127     300.0 2020-12-06
6          60    110       136     374.0 2020-12-07
7          45    104       134     253.3 2020-12-08
8          30    109       133     195.1 2020-12-09
9          60     98       124     269.0 2020-12-10
10         60    103       147     329.3 2020-12-11
11         60    100       120     250.7 2020-12-12
12         60    106       128     345.3 2020-12-13
13         60    104       132     379.3 2020-12-14
14         60     98       123     275.0 2020-12-15
15         60     98       120     215.2 2020-12-16
16         60    100       120     300.0 2020-12-17
17         45     90       112       NaN 2020-12-18
18         60    103       123     323.0 2020-12-19
19         45     97       125     243.0 2020-12-20
20         60    108       131     364.2 2020-12-21
21         45    100       119     282.0 2020-12-22
22         60    130       101     300.0 2020-12-23
23         45    105       132     246.0 2020-12-24
24         60    102       126     334.5 2020-12-25
25         60    100       120     250.0 2020-12-26
26         60     92       118     241.0 2020-12-27
27         60    103       132       NaN 2020-12-28
28         60    100       132     280.0 2020-12-29
29         60    102       129     380.3 2020-12-30
30         60     92       115     243.0 2020-12-31
31         45     90       112     180.1 2021-01-01
32         60    101       124     299.0 2021-01-02
33         60     93       113     223.0 2021-01-03
34         60    107       136     361.0 2021-01-04
35         60    114       140     415.0 2021-01-05
36         60    102       127     300.0 2021-01-06
37         60    100       120     300.0 2021-01-07
38         60    100       120     300.0 2021-01-08
39         45    104       129     266.0 2021-01-09
40         45     90       112     180.1 2021-01-10
41         60     98       126     286.0 2021-01-11
42         60    100       122     329.4 2021-01-12
43         60    111       138     400.0 2021-01-13
44         60    111       131     397.0 2021-01-14
45         60     99       119     273.0 2021-01-15
46         60    109       153     387.6 2021-01-16
47         45    111       136     300.0 2021-01-17
48         45    108       129     298.0 2021-01-18
49         60    111       139     397.6 2021-01-19
50         60    107       136     380.2 2021-01-20
51         80    123       146     643.1 2021-01-21
52         60    106       130     263.0 2021-01-22
53         60    118       151     486.0 2021-01-23
54         30    136       175     238.0 2021-01-24
55         60    121       146     450.7 2021-01-25
56         60    118       121     413.0 2021-01-26
57         45    115       144     305.0 2021-01-27
58         20    153       172     226.4 2021-01-28
59         45    123       152     321.0 2021-01-29
60        210    108       160    1376.0 2021-01-30
61        160    110       137    1034.4 2021-01-31
62        160    109       135     853.0 2021-02-01
63         45    118       141     341.0 2021-02-02
64         20    110       130     131.4 2021-02-03
65        180     90       130     800.4 2021-02-04
66        150    105       135     873.4 2021-02-05
67        150    107       130     816.0 2021-02-06
68         20    106       136     110.4 2021-02-07
69        300    108       143    1500.2 2021-02-08
70        150     97       129    1115.0 2021-02-09
71         60    109       153     387.6 2021-02-10
72         90    100       127     700.0 2021-02-11
73        150     97       127     953.2 2021-02-12
74         45    114       146     304.0 2021-02-13
75         90     98       125     563.2 2021-02-14
76         45    105       134     251.0 2021-02-15
77         45    110       141     300.0 2021-02-16
78        120    100       130     500.4 2021-02-17
79        270    100       131    1729.0 2021-02-18
80         30    159       182     319.2 2021-02-19
81         45    149       169     344.0 2021-02-20
82         30    103       139     151.1 2021-02-21
83        120    100       130     500.0 2021-02-22
84         45    100       120     225.3 2021-02-23
85         30    151       170     300.0 2021-02-24
86         45    102       136     234.0 2021-02-25
87        120    100       157    1000.1 2021-02-26
88         45    129       103     242.0 2021-02-27
89         20     83       107      50.3 2021-02-28
90        180    101       127     600.1 2021-03-01
91         45    107       137       NaN 2021-03-02
92         30     90       107     105.3 2021-03-03
93         15     80       100      50.5 2021-03-04
94         20    150       171     127.4 2021-03-05
95         20    151       168     229.4 2021-03-06
96         30     95       128     128.2 2021-03-07
97         25    152       168     244.2 2021-03-08
98         30    109       131     188.2 2021-03-09
99         90     93       124     604.1 2021-03-10
100        20     95       112      77.7 2021-03-11
101        90     90       110     500.0 2021-03-12
102        90     90       100     500.0 2021-03-13
103        90     90       100     500.4 2021-03-14
104        30     92       108      92.7 2021-03-15
105        30     93       128     124.0 2021-03-16
106       180     90       120     800.3 2021-03-17
107        30     90       120      86.2 2021-03-18
108        90     90       120     500.3 2021-03-19
109       210    137       184    1860.4 2021-03-20
110        60    102       124     325.2 2021-03-21
111        45    107       124     275.0 2021-03-22
112        15    124       139     124.2 2021-03-23
113        45    100       120     225.3 2021-03-24
114        60    108       131     367.6 2021-03-25
115        60    108       151     351.7 2021-03-26
116        60    116       141     443.0 2021-03-27
117        60     97       122     277.4 2021-03-28
118        60    105       125       NaN 2021-03-29
119        60    103       124     332.7 2021-03-30
120        30    112       137     193.9 2021-03-31
121        45    100       120     100.7 2021-04-01
122        60    119       169     336.7 2021-04-02
123        60    107       127     344.9 2021-04-03
124        60    111       151     368.5 2021-04-04
125        60     98       122     271.0 2021-04-05
126        60     97       124     275.3 2021-04-06
127        60    109       127     382.0 2021-04-07
128        90     99       125     466.4 2021-04-08
129        60    114       151     384.0 2021-04-09
130        60    104       134     342.5 2021-04-10
131        60    107       138     357.5 2021-04-11
132        60    103       133     335.0 2021-04-12
133        60    106       132     327.5 2021-04-13
134        60    103       136     339.0 2021-04-14
135        20    136       156     189.0 2021-04-15
136        45    117       143     317.7 2021-04-16
137        45    115       137     318.0 2021-04-17
138        45    113       138     308.0 2021-04-18
139        20    141       162     222.4 2021-04-19
140        60    108       135     390.0 2021-04-20
141        60     97       127       NaN 2021-04-21
142        45    100       120     250.4 2021-04-22
143        45    122       149     335.4 2021-04-23
144        60    136       170     470.2 2021-04-24
145        45    106       126     270.8 2021-04-25
146        60    107       136     400.0 2021-04-26
147        60    112       146     361.9 2021-04-27
148        30    103       127     185.0 2021-04-28
149        60    110       150     409.4 2021-04-29
150        60    106       134     343.0 2021-04-30
151        60    109       129     353.2 2021-05-01
152        60    109       138     374.0 2021-05-02
153        30    150       167     275.8 2021-05-03
154        60    105       128     328.0 2021-05-04
155        60    111       151     368.5 2021-05-05
156        60     97       131     270.4 2021-05-06
157        60    100       120     270.4 2021-05-07
158        60    114       150     382.8 2021-05-08
159        30     80       120     240.9 2021-05-09
160        30     85       120     250.4 2021-05-10
161        45     90       130     260.4 2021-05-11
162        45     95       130     270.0 2021-05-12
163        45    100       140     280.9 2021-05-13
164        60    105       140     290.8 2021-05-14
165        60    110       145     300.0 2021-05-15
166        60    115       145     310.2 2021-05-16
167        75    120       150     320.4 2021-05-17
168        75    125       150     330.4 2021-05-18

## Removing Rows
The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, and we can remove the row by using the dropna() method.

In [37]:
#Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)
df

     Duration  Pulse  Maxpulse  Calories       Date
0          60    110       130     409.1 2020-12-01
1          60    117       145     479.0 2020-12-02
2          60    103       135     340.0 2020-12-03
3          45    109       175     282.4 2020-12-04
4          45    117       148     406.0 2020-12-05
..        ...    ...       ...       ...        ...
164        60    105       140     290.8 2021-05-14
165        60    110       145     300.0 2021-05-15
166        60    115       145     310.2 2021-05-16
167        75    120       150     320.4 2021-05-17
168        75    125       150     330.4 2021-05-18

[169 rows x 5 columns]

## Pandas - Removing Duplicates
Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

### By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

In [38]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

# Reference 
1. https://www.dataquest.io
2. https://www.w3schools.com/python/pandas
3. https://www.geeksforgeeks.org/pandas-tutorial/
4. https://jupyterlab.readthedocs.io/en/stable/user/interface.html